@model List<WebApplication1.Models.Contato>
@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/adicionarEmodificar.css" rel="stylesheet" type="text/css" />
}

<div class="container">

    <div class="row">

        <div class="adicionarEmodificar col-12  col-lg-8  mx-auto ">
            <h1 class="text-center text-funcao">AGENDA</h1>

            <h4 class="text-center">@Model.Count contatos</h4>
            <div class="text-right">
                <input type="text" id="inputBusca" onkeyup="FiltrarContatos()"  placeholder ="Procurar por...">
                <a href="/contato/cadastrar" class="btn btn-primary"> CADASTRAR</a>
            </div>
            <div class="table-responsive-sm">
                <table id="myTable" class="table">
                    <thead id="headtabela">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <tr ></tr>
                        @foreach (var contato in Model)
                        {
                            <tr class="tr">
                                <td>@contato.Nome</td>
                                <td>@contato.Telefone</td>
                                <td>@contato.Email</td>
                                <td>
                                    <a href="/contato/modificar/@contato.Id"><img title="modificar" src="~/images/pen.png" /> </a>
                                    <a href="/contato/excluir/@contato.Id"><img title="excluir" src="~/images/close.png" /> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

