@{
    ViewData["Title"] = "Home Page";
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
}

<div class="container ">
    <div class="row">
        <div class="agenda  col-12 ">
            <h1 class="centred">Agenda</h1>
            <form action="/contato">
                <button  type="submit" class="btn btn-primary">Abrir a agenda</button>
            </form>
            <img class="img-fluid" id="img-agenda" src="~/images/agenda.png" />
                
        </div>
    </div>
</div>